/*константы по цветам*/
:root {
  --basic-black-text: #323232; /*черный*/
  --basic-green: #849D8F;
  --basic-brawn: #9D8B84;
  --basic-neutral: #8996A6;
  --basic-white: #FFFFFF;
  --basic-neutral: #5A5A5A;
  --basic-dark: #696969; /*темно-серый*/
  --basic-darl-lite: #ababab; /*светло-серый*/
  --basic-green-lite: rgba(255, 255, 255, 0.2); /*светло-зеленый в основном цвет фона кнопок*/
  --brown-lite: #D07058; /*светло-коричневый*/
  --basic-blu-lite: #8996A6;
  --basic-brown: #9D8B84;
}
/* Global */

body {
  /*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/ /*подключениме шрифта 2-ой вариант*/
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  /*text-transform: uppercase;*/
  background-color: var(--basic-green);
  /*background-image: url("img/bg.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%; /*займи все пространство*/
  display: grid; /*включение контекста grid*/
  grid-template-rows: min-content 1fr min-content; /*правила расположения строк*/
  align-content: start; /*начинайся сначала*/
}
h1 {
  font-size: 35px;
  line-height: 41px;
  margin: 9px 0px 29px 0px;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  padding: 16px 16px;
}
h3 {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black-text);
  padding: 24px 20px 0px 20px;
}
span {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

fieldset {
  border: none;
}

.visually-hidden { /*скрывает не нужные заголовки*/
  /*display: none;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Контентная область центрируется и не может быть уже макетной ширины, поэтому 1146px*/
.container {
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 1px solid black; /*обводка*/
}

.slider{
  position: relative; /*элемент с относительным позиционированием*/
  padding-top: 275px;
  text-align: center;
  color: var(--basic-white);
}
.slider-list {
  margin: 0;
  /*padding: 0;*/
  list-style: none;
}
.slide {
  display: none;
}

.slide-current {
  display: block;
}
.slide-title {
  width: 700px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}
.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .current {
  background-color: var(--basic-white);
}
.page-body {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;
}
.page-body-1 {
  background-color: var(--basic-green);
  background-image: url("../img/ice-horns.png");
}
.page-body-2 {
  background-color: var(--basic-blu-lite);
  background-image: url("../img/ice-horns2.png");
}
.page-body-3 {
  background-color: var(--basic-brown);
  background-image: url("../img/ice-horns3.png");
}
.main-menu {
  display: flex;
  justify-content: space-between;
}

.features {
  text-align: center;
}

/*grid*/
.page {
  height: 100%;
}

/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 18px;

  /*outline: 1px solid red; /*обводка*/
  outline-offset: -5px;
}

.main-navigation-wrapper {
  /*display: grid; /*включаем гриды*/
  margin: 0;
  display: flex;
  align-items: center;
  width: 850px;

  /*outline: 1px solid rgba(0, 255, 255, 0.3); /*обводка*/
  outline-offset: -5px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 300px;

  /*outline: 1px solid yellow; /*обводка*/
  outline-offset: -5px;
}
.information-crumbs {
  display: flex;
  align-items: flex-end;
}

.information {
  margin: 0;
  padding: 0;
  text-align: right;
  order: 3;
  margin-left: auto;

  /*outline: 1px solid blue; /*обводка*/
  outline-offset: -5px;
}

.raspberries-chocolate {
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px; /*отступ до следующего блока*/
  height: 229px;
  margin-top: 41px;

}

/*меню главное*/
.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  list-style: none; /*убираем маркер списка*/
  line-height: 18px;
  margin-left: 24px; /*отступ слева от логтипа*/
}
.site-navigation li {
  position: relative; /*указывает какой тип позиционирования используется для элемента (статический, относительный, абсолютный или фиксированный)*/
  margin-right: 32px;
}
.main-header-logo { /*не совсем понял нужно или нет это прописывать в css*/
  margin: 0;
  padding: 0;
  width: 154px;
  height: 64px;
}
.site-navigation a {
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom: 1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*text-decoration-color: rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*цвет ссылки меню и ссылки входа*/
.site-navigation a,
.telephone a,
.button,
.-apply,
.hit-list a {
  color: var(--basic-white);
}

/*хлебные крошки*/
.crumbs {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /*перенос на новую сроку если дошел до предела области*/
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  font-weight: 400; /*жирность шрифта*/
  order: 1; /*---*/
}
.crumbs li {
  position: relative; /*указывает какой тип позиционирования используется для элемента (статический, относительный, абсолютный или фиксированный)*/
  margin-right: 22px;
}
.crumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -15px;
  width: 6px;
  height: 6px;
  background-image: url("../img/crumbs.png");
}
.crumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs-current::after {
  display: none;
}
.crumbs a{
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*конец хлебные крошки*/

/*меню каталог с catalog.html*/
.mark a {
  background: var(--brown-lite);/* #D07058;*/
  padding: 9px 13px; /* Поля вокруг текста */
  margin: -13px;
  border-radius: 26px;
  /*color: var(--basic-white);*/
  text-decoration: none;
}

/*кнопки поиска корзины и авторизации*/
.user-navigation ul {
  margin-bottom: 20px;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}
/* .link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} */

/*.link {
  position: relative; /*для позиционирования иконки относительно ссылки "вход"*/
/*}*/
/* .login-link svg {
  margin: 10px;
} */

.user-navigation-link {
  background-color: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2);*/
  border-radius: 20px;
  color: var(--basic-white);
  text-decoration: none;
  display: block;
  height: 32px;
  box-sizing: border-box;
  transition: color .25s, background-color .25s;
}
.user-navigation-link path {
  transition: fill .25s;
}

.user-navigation-link:hover {
  color: #323232;
  background-color: #ffffff;
}

.user-navigation-link:hover path {
  fill: #000000;
}

.user-navigation-link--search {
  padding: 8px;
}

.user-navigation-link--search svg {
  display: block;
}

.user-navigation-link--action {
  padding: 6px 16px;
  display: flex;
  align-items: center;
}
.user-navigation-link--action svg {
  margin-right: 10px;
}

.user-navigation--item {
  position: relative;
}

.user-navigation-popup {
  display: block;
  position: absolute;
  background: #F8F7F4;
  /*padding: 12px;*/
  width: 341px;
  height: 84px;
  border-radius: 4px;
  right: 0;
  top: 36px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .35s, visibility .35s;
}
/*.popup-form--search {
  background: #F8F7F4;
  border-radius: 4px;
}*/
.popup-form--search input {
  padding-left: 15px;
  width: 294px;
  height: 42px;
  margin: 20px 15px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.popup-form--search-input {

}
.user-navigation-link:hover ~ .user-navigation-popup {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

/*цвет меню при наведении*/
.site-navigation a:hover {
  margin: 0;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 13px; /* Поля вокруг текста */
  margin: -13px;
  border-radius: 26px;
  text-decoration: none;
}
.site-navigation a:focus {
  color: var(--basic-black-text);
  background-color: #EDEDED;;
  box-shadow: inset 0px 2px 1px #696969;/*0px -3px 0px var(--basic-dark);/*rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 13px; /* Поля вокруг текста */
  border-radius: 26px;
  text-decoration: none;
}
.login-link a:hover {
  margin: 0;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 13px; /* Поля вокруг текста */
  border-radius: 20px;
  text-decoration: none;
}

.button-apply:hover{
  margin: 0;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 29px; /* Поля вокруг текста */
  border-radius: 20px;
  text-decoration: none;
}

/*цвет при нажатии*/
.button-apply:focus {
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  box-shadow: 0px -3px 0px var(--basic-dark);/*rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 29px; /* Поля вокруг текста */
  border-radius: 20px;
  text-decoration: none;
}

.work {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}

.telephone {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
}
.telephone a {
  text-decoration: none;
}

.telephone a:hover{ /*при наведении на номер телефона появляется подчеркивание*/
  text-decoration: underline;
}

.banner-basis {
  font-size: 60px;
  line-height: 60px;
}

.button /*.button*/ {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%); /*градиентная заливка*/
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 70px; /*скругление углов*/
  text-decoration: none;
  display: inline-block;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
}
.button:hover { /*цвет кнопки при наведении*/
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000; /*тень кнопки*/
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
}
.button:focus { /*цвет кнопки при нажатии*/
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
}
/*----*/
.sorting-price-content {
  width: 869px;
  display: flex;
}
/*----*/
.sorting {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.sorting legend {
  padding-left: 14px;
}
.sorting-list {
  display: flex;
  color: var(--basic-white);
  background: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*заливка*/
  border-radius: 20px; /*скругление углов*/
  font-size: 13px;
  line-height: 18px;
  margin-top: 7px;
  height: 36px;
  /*width: 196px;*/
  border: none;
  padding: 7px 40px 10px 16px; /* Поля вокруг текста */
  /*text-decoration: none;*/
}
.sorting-list option {
  text-decoration: none;
  color: var(--basic-black-tex);
  background: #1E90FF; /*синий цвет*/
}
.price {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}
.price input {
  width: 25px;
  height: 11px;
}
/*Уровень цены*/
.range-controls {
    position:relative;
    margin-top: 7px;
    /*position: absolute;*/
    width: 218px;
    /*height: 36px;*/
    /*overflow:hidden;*/ /*обрезание что выходит за границы*/
    padding-top: 17px;
    padding-bottom: 17px;
    /*margin-bottom:15px;*/
    /*padding:0 30px;*/
    background: var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет фона*/
    border-radius:20px;
}
/*----*/

.filler-apply {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
/*----*/

.button-apply { /*кнопка применить*/
  background: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*заливка*/
  border: 2px solid var(--basic-white); /*#FFFFFF; /*окантовка*/
  color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 20px; /*скругление углов*/
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 29px; /* Поля вокруг текста */
  text-decoration: none;
}

.raspberries {
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  border-radius: 16px;
  background-image: url("../img/backgraund-malina.jpg"); /* no-repeat; из-за этого не выходила картинка фоном*/
}
.raspberries a { /*кнопка расположение ее на блоке*/
  display: block;
  margin-left: 368px;
  margin-right: 22px;
  margin-top: 42px;
}

.chocolate {
  width: 560px;
  min-height: 229px;
  border-radius: 16px;
  background-image: url("../img/backgraund-chocolate.jpg");
}
.chocolate a { /*кнопка расположение ее на блоке*/
  display: block;
  margin-left: 339px;
  margin-right: 22px;
  margin-top: 42px;
}

.banner {
  padding: 0;
  margin: 0;
  padding: 0px 30px 0px 16px;
  font-size: 18px;
}
/*хиты продаж*/

.hit-list {
  margin: 0;
  padding: 0;
  text-align: center; /*выравнивание текста по центру*/
  list-style: none;
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*margin-bottom: 40px;
  /*width: 267px;*/
  /*border: 1px solid red; /*обводка*/

}
.catalog-item { /*без этого класса не мог выранить картинку, не выстраивались гриды*/
  margin: 0;
  padding: 0;
  width: 267px; /*ширина занимаемой области товара*/
  min-height: 324px; /*мин высота если вдруг картинки не будет*/
  margin-right: 26px; /*расстояние между карточками товаров*/
  margin-bottom: 40px; /*отступ вниз между карточкамит товаров*/
}
.catalog-item:hover {
  background-color: #FFFFFF;
  /*opacity: 0.2;*/
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.hit-list p {
  padding: 0;
  margin: 0;
  margin-top: -65px;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.hit-list a {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  font-weight: 500; /*полужирный текст - параметр*/
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}

/*конец хитов продаж*/

/*качество продукции*/
.quality {
  padding: 0;
  margin: 0;

  min-height: 306px;
  background-image: url("../img/pattern2.jpg");
  border-radius: 16px;
  margin-bottom: 40px;
  /*padding: 0px 27px;*/
}
.quality-list {
  margin: 0;
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  list-style: none;
  color: var(--basic-black-text);
}

.quality-item {
  /*width: 485px;
  margin-left: 52px;
  margin-right: 23px;*/
  display: flex;
  width: 540px;
  margin-bottom: 19px; /*почему не помещается 33px????*/
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.quality-item svg {
  width: 49px;
}
.quality-item p {
  margin-left: 6px;
  margin-top: 7px;
  width: 485px;
  margin-bottom: 0;
}
/*конец качества продукции*/

/*новости*/

.news-mail {
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  height: 220px;
  margin-bottom: 40px;
}
.news {
  background-image: url("../img/backgraund-news.jpg");
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  border-radius: 16px;
}
.news p {
  margin: 0;
  padding-left: 20px;
  padding-top: 23px;
  /*padding-bottom: 15px;*/
  font-weight: 500;
  color: var(--basic-black-text);
}
.news a {
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 20px;
  padding-right: 253px;
  /*height: 77px;*/
  /*width: 287px;*/
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black-text);
}
/*конец нововсти*/

/*отправка сообщения*/
.mail {
  background-image: url("../img/backgraund-mail.jpg");
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
}
.mail p {
  margin: 0;
  padding-left: 26px;
  padding-top: 34px;
  padding-right: 22px;
  padding-bottom: 47px;
  font-weight: 400;
  color: var(--basic-neutral);
}
.mail input {
  margin: 0;
  padding: 0;
  margin-left: 26px;
  margin-right: 7px;
  width: 350px;
  height: 44px;
  border-radius: 6px;
  border-width: 1px;
  border-style: double;
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border-color: rgba(178, 178, 178, 0.52);
}
.mail-input:hover {
  width: 348px;
  height: 42px;
  margin-right: 8px;
  padding-left: 13px;
  border: 2px solid rgba(178, 178, 178, 0.52);
}
.mail-input:focus {
  width: 348px;
  height: 42px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 0; /*уюирает браузерную обводку*/
}
.mail button {
  /*background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding: 9px 23px;*/
  border-width: 0;
  cursor: pointer;
  /*font-size: 18px;
  line-height: 24px;
  border-radius: 70px;
  color: var(--basic-white);
  text-decoration: none;*/
}
/*конец отправка сообщения*/


.scale{ /*общая шкала*/
    /*margin-top:18px; /*расстояние от верха*/
    display: flex;
    align-items: center;
    margin-left: 21px;
    width: 176px;
    height: 2px;
    background:rgba(248, 247, 244, 0.5); /*цвет общей шкалы*/
    /*border: 2px solid rgba(248, 247, 244, 0.5);*/
}
.bar{ /*шкала между бегунками*/
    height:2px;
    background: var(--basic-white); /*#F8F7F4; /*#00ca74;*/
    margin-left:50px;
    margin: 28px;
    width:106px;
}
.toggle{
    position:absolute;
    top:8px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background: var(--basic-darl-lite);
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{ /*положение курсора левого*/
    left:40px;
}
.max-toggle{ /*положение курсора правого*/
    left:145px;
}
/*конец уровень цены*/

.content {
  padding: 0;
  /*margin: 0;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.content-list {
  /*padding: 0;*/
  /*margin-top: : 7px;*/
  background: var(--basic-green-lite);
  padding: 9px 14px;
  border-radius: 20px;
  display: flex;
  /*width: 360px;*/
  list-style: none; /*убираем обозначанеи списка*/
}
.content legend {
  padding-left: 14px;
}
.content-list--item {
  /*display: flex;
  align-items: center;*/

  padding-left: 33px;
  margin-right: 19px;
  position: relative;
}
.content-list--item:last-child {
  margin-right: 0;
}
.content-list--item input {
  margin: 0;
  margin-right: 11px;
}
.content-list--item label {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;

}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 18px;
  height: 18px;
  border: 4px solid rgba(255, 255, 255, 0.8); /*var(--basic-white);*/
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 3px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.8); /*var(--basic-white);*/
  border-radius: 50%;
}
.filler {
  padding: 0;
  margin: 0;
}
.filler legend {
  margin-bottom: 11px;
  padding-left: 14px;
  font-size: 14px;
}
.filler-list {
  list-style: none; /*убираем обозначанеи списка*/
  display: flex;
  margin: 0;
  margin-right: 14px;
  padding: 13px 19px 10px;
  font-weight: 500;
  line-height: 18px;
  background: var(--basic-green-lite);
  border-radius: 20px;
}
.filler-list--item {
  padding-left: 34px;
  margin-right: 22px;
  position: relative;
}
.filler-list--item:last-child {
  margin-right: 0;
}
.filler-list--item label {
  /*position: relative;*/
  display: block;
  cursor: pointer;
}
.filler-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -15px;
  width: 20px;
  height: 20px;
  background-image: url("../img/cube.png");
}
/*обратная связь*/
.contacts {
  position: relative;
  width: 1200px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEFEFE;
  color: var(--basic-black-text);
}
.contacts-form {
  position: absolute;
  top: 35px;
  right: 27px;
  /*position: relative;
  top: -400px;
  left: 870px;*/
  /* bottom: 65px; */
  /*right: 27px;*/
  background-color: #FEFEFE;
  width: 253px;
  padding: 31px 25px;
  border-radius: 16px;
}
.contacts-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contacts-text-days {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contacts-text-bold {
  font-size: 18px;
  line-height: 24px;
  margin: 8px 0px 30px;
}
.contacts-text-bold-tel {
  font-size: 18px;
  line-height: 24px;
  margin: 11px 0px 8px;
}
.contacts-text-bold-tel a {
  color: var(--basic-black-text);
  text-decoration: none;
}
.contacts-text-bold-tel a:hover {
  text-decoration: underline; /*при наведении на номер телефона появляется подчеркивание*/
}
/*конец обратная связь*/
.button-send {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding: 9px 23px;
  border-width: 0;
  font-size: 18px;
  line-height: 24px;
  border-radius: 70px;
  color: var(--basic-white);
  text-decoration: none;
  margin-left: 290px;
  cursor: pointer; /*при наведении был курсор в виде руки*/
}
.modal h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-black-text);
  /* padding: 24px 20px 0px 20px;*/
}
.login-form input {
    /*margin: 0;*/
    padding: 0;
    width: 251px;
    height: 42px;
    border-radius: 4px;
    border-width: 1px;
    border-style: double;
    padding-left: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    border-color: rgba(178, 178, 178, 0.52);
}
.modal {
  position: fixed;
  /*top: 0;*/
  right: 0;
  /*bottom: 0;*/
  left: 0;
  margin: auto;
  background: #F8F7F4;
  border-radius: 6px;
}
.modal-login {
  /*display: none; /*скроем модальное окно отправки*/
  top: 338px;
  bottom: auto;
  width: 428px;
  padding: 20px 25px 27px;
}
.area-p {
  margin-bottom: 25px;
}
.area {
  width: 428px;
  height: 154px;
  resize: none; /*Не дает возможность изменять размеры области ввода текста*/
  padding: 16px 14px;
  /*padding-left: 14px;*/
  font-family: "Roboto", Arial, sans-serif;
  /*color: #999999;*/
  font-size: 16px;
  /*line-height: 20px;*/
  /*background: var(--basic-white);*/
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  background-color: #F8F7F4;
  border: 0;
  cursor: pointer;
}
/*крестик закрыть на форме*/
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 18px;
  height: 2px;
  background-color: #231F20;
}
.modal-close::before {
  transform: rotate(45deg); /*поворот палочек на 45 градусов*/
}
.modal-close::after {
  transform: rotate(-45deg); /*поворот палочек на -45 градусов*/
}
.login-icon-user:hover {
  width: 249px;
  height: 40px;
  padding-left: 13px;
  border: 2px solid rgba(178, 178, 178, 0.52);
}
.login-icon-user:focus {
  width: 249px;
  height: 40px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 0; /*уюирает браузерную обводку*/
}
.area:hover {
  width: 428px;
  height: 154px;
  padding: 15px 13px;
  border: 2px solid rgba(178, 178, 178, 0.52);
}
.area:focus {
  width: 428px;
  height: 154px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: 0; /*уюирает браузерную обводку*/
}

/*нумерация страниц*/
.number-list {
  margin: 0;
  margin-left: 954px; /*952px;*/
  padding: 0;
  list-style: none; /*убираем обозначанеи списка*/
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 194px;
  height: 26px;

}
.number-list--number {
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  color: var(--basic-white);
  height: 26px;
  line-height: 18px;
  font-weight: 500;
  box-sizing: border-box;
  padding: 0px 5px;
  margin: 0px 5px;
}
.number-list--number:hover {
  border-radius: 50%;
  background-color: var(--basic-green-lite);
}
.number-list--active {
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  border-radius: 50%;
  /*padding: 7px 8px;*/
}
/*подвал*/
.main-footer {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  /*делаем на флексах*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 164px;
  list-style: none; /*убираем обозначанеи списка*/
}
.footer-social--link:hover path {
  fill-opacity: 1;
}
.footer-social--link:hover g {
  opacity: 1;
}
.footer-contacts {
  padding: 0;
  margin: 0;
  width: 327px;
  text-align: center;
  /*outline: 1px solid red; /*обводка*/
}
.footer-ico {
  margin: 0;
  padding: 0;
  width: 190px;
  text-align: left;
}
.footer-contacts-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /*правила расположения строк*/

  list-style: none; /*убираем обозначанеи списка*/
  color: var(--basic-white);
}
.footer-contacts-list-link {
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*font-family: Roboto;*/
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  margin-left: 22px;
}
.footer-suppliers:nth-child(2n) .footer-contacts-list-link {
  margin-left: 0;
}
.footer-contacts-list-link--svg {
  font-weight: 700;
  position: relative;
}

.footer-contacts-list-link--svg svg {
  position: absolute;
  display: block;
  left: -22px;
  top: 1px;
}

.footer-suppliers {
  text-align: left;
}
.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright a {
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*конец подвал*/
