/*константы по цветам*/
:root {
  --basic-black-text: #323232;
  --basic-green: #849D8F;
  --basic-brawn: #9D8B84;
  --basic-neutral: #8996A6;
  --basic-white: #FFFFFF;
  --basic-neutral: #5A5A5A;
  --basic-dark: #696969; /*темно-серый*/
  --basic-darl-lite: #ababab; /*светло-серый*/
  --basic-green-lite: rgba(255, 255, 255, 0.2); /*светло-зеленый в основном цвет фона кнопок*/
  --brown-lite: #D07058; /*светло-коричневый*/
  /*
  --basic-black: #000000;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;

  --special: #663d15;*/
}
/* Global */

body {
  /*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/ /*подключениме шрифта 2-ой вариант*/
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  /*text-transform: uppercase;*/
  background-color: var(--basic-green);
  /*background-image: url("img/bg.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%; /*займи все пространство*/
  display: grid; /*включение контекста grid*/
  grid-template-rows: min-content 1fr min-content; /*правила расположения строк*/
  align-content: start; /*начинайся сначала*/
}
h2 {
  font-size: 35px;
  line-height: 41px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black-text);
}
span {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

fieldset {
  border: none;
}

/*горизонтальное меню*/
/*.login-link li {
  /*display:inline-block; /* расположить пункты горизонтально */
/*  margin-right: 9px; /* Отступ слева */
  /*padding: 9px 23px;*/
/*}

/*горизонтальное меню*/
/*.site-navigation li {
  display:inline-block; /* расположить пункты горизонтально */
  /*margin-right: 18px; /* Отступ слева */
  /*padding: 9px 23px;*/
/*}

/*горизонтальное меню*/
/*.crumbs li {
  display:inline-block; /* расположить пункты горизонтально */
  /*margin-right: 22px; /* Отступ слева */
/*}
/*конец хлебные крошки*/

/*grid*/
.page {
  height: 100%;
}

/* Main navigation */
.main-navigation {
  display: grid; /*включаем гриды*/
  grid-template-columns: 2fr 1fr;
  padding: 0 27px;
  font-size: 16px;
  line-height: 18px;
  /*color: var(--basic-white);*/
  /*background-color: transparent;*/
  outline: 5px solid red;
  outline-offset: -5px;
  padding: 0px 27px;

}

.main-navigation-wrapper {
  /*display: grid; /*включаем гриды*/

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.user-navigation {
  justify-self: end;
  outline: 5px solid yellow;
  outline-offset: -5px;
}

.information {
  display: grid; /*включаем гриды*/
  justify-self: end;
  outline: 5px solid blue;
  outline-offset: -5px;
}

.raspberries-chocolate {
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  padding: 0px 27px;
}

/*меню главное*/
.site-navigation {
  list-style: none; /*убираем маркер списка*/
  line-height: 18px;
}
.site-navigation a {
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*text-decoration-color: rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*цвет ссылки меню и ссылки входа*/
.site-navigation a,
.telephone a,
.button,
.button-apply,
.hit-list a {
  color: var(--basic-white);
}

/*хлебные крошки*/
.crumbs {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  font-weight: 400; /*жирность шрифта*/
  /*color: var(--basic-white);*/
}
.crumbs a{
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*конец хлебные крошки*/

/*меню каталог с catalog.html*/
.mark a {
  background: var(--brown-lite);/* #D07058;*/
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 26px;
  /*color: var(--basic-white);*/
  text-decoration: none;
}

/*кнопки поиска корзины и авторизации*/
.login-link {
  list-style: none;
  /*text-decoration: none; /*убираем подчеркивание*/
  font-size: 14px;
  line-height: 16px;
}

.login-link a{
  background-color: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2);*/
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 20px;
  color: var(--basic-white);
  text-decoration: none;
}

/*цвет меню при наведении*/
.site-navigation a:hover,
.button-apply:hover,
.login-link a:hover {
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 26px;
  text-decoration: none;
}

/*цвет при нажатии*/
.button-apply:focus {
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  box-shadow: 0px -3px 0px var(--basic-dark);/*rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 26px;
  text-decoration: none;
}

.work {
  font-size: 14px;
  line-height: 16px;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
}
.telephone a {
  text-decoration: none;
}


.telephone a:hover{ /*при наведении на номер телефона появляется подчеркивание*/
  text-decoration: underline;
}

.features {
  text-align: center;
}

.banner-basis {
  font-size: 60px;
  line-height: 60px;
}

.button /*.button*/ {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%); /*градиентная заливка*/
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 70px; /*скругление углов*/
  text-decoration: none;
}
.button-slide {
  font-size: 32px;
  line-height: 44px;
}

.sorting {
  /*position: absolute;
  width: 196px;
  height: 56px;
  left: 27px;
  top: 187px;*/

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.sorting-list {
  color: var(--basic-white);
  background: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*заливка*/
  border-radius: 20px; /*скругление углов*/
  font-size: 16px;
  line-height: 18px;
  padding: 9px 23px; /* Поля вокруг текста */
  text-decoration: none;
}

/*.price {
  position: absolute;
  width: 218px;
  height: 56px;
  left: 238px;
  top: 187px;
}

.content {
  position: absolute;
  width: 425px;
  height: 56px;
  left: 471px;
  top: 187px;
}*/

.button-apply { /*кнопка применить*/
  background: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*заливка*/
  border: 2px solid var(--basic-white); /*#FFFFFF; /*окантовка*/
  box-sizing: border-box;
  border-radius: 20px; /*скругление углов*/
  font-size: 16px;
  line-height: 18px;
  padding: 9px 23px; /* Поля вокруг текста */
  text-decoration: none;
}

.raspberries {
  background-image: url("../img/backgraund-malina.jpg") no-repeat;

}

.banner {
  font-size: 18px;
}
/*хиты продаж*/
.hit {
  padding: 0px 27px;
}
.hit-list {
  list-style: none;
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
}
.hit-list p{
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.hit-list a {
  font-weight: 500;
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*text-decoration-color: rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*font-size: 16px;
  line-height: 22px;*/
}

/*конец хитов продаж*/

/*качество продукции*/
.quality {
  background-image: url("../img/pattern.jpg");
  margin-bottom: 40px;
  padding: 0px 27px;
}
.quality-list {
  list-style: none;
  color: var(--basic-black-text);
}

.quality-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
/*конец качества продукции*/

/*новости*/
.news-mail {
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  padding: 0px 27px;
  margin-bottom: 40px;
}
.news p {
  font-weight: 500;
  color: var(--basic-black-text);
}
.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black-text);
}
/*конец нововсти*/

/*отправка сообщения*/
.mail p {
  font-weight: 400;
  color: var(--basic-neutral);
}
.mail input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
.mail button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font-size: 18px;
  line-height: 24px;
  border-radius: 70px;
  color: var(--basic-white);
  text-decoration: none;
}
/*конец отправка сообщения*/

/*Уровень цены*/
.range-controls{
    position:relative;
    /*position: absolute;*/
    width: 218px;
    /*height: 36px;*/
    /*overflow:hidden;*/ /*обрезание что выходит за границы*/
    padding-top: 17px;
    padding-bottom: 17px;
    /*margin-bottom:15px;*/
    /*padding:0 30px;*/
    background: var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет фона*/
    border-radius:20px;

}
.scale{ /*общая шкала*/
    /*margin-top:18px; /*расстояние от верха*/
    display: flex;
    align-items: center;

    height:2px;
    background:rgba(248, 247, 244, 0.5); /*цвет общей шкалы*/
    /*border: 2px solid rgba(248, 247, 244, 0.5);*/
}
.bar{ /*шкала между бегунками*/
    height:2px;
    background: var(--basic-white); /*#F8F7F4; /*#00ca74;*/
}
.toggle{
    position:absolute;
    top:9px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background: var(--basic-darl-lite);
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{ /*положение курсора левого*/
    left:30px;
}
.max-toggle{ /*положение курсора правого*/
    left:145px;
}
/*конец уровень цены*/

.content ul {
  list-style: none; /*убираем обозначанеи списка*/
}

.filler ul {
  list-style: none; /*убираем обозначанеи списка*/
}
.number-list {
  list-style: none; /*убираем обозначанеи списка*/
}

/*обратная связь*/
.contacts {
  background-color: #FEFEFE;
  color: var(--basic-black-text);
}
.contacts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contacts-text-bold {
  font-size: 18px;
  line-height: 24px;
}
.contacts-text-bold a {
  color: var(--basic-black-text);
  text-decoration: none;
}
.contacts-text-bold a:hover {
  text-decoration: underline; /*при наведении на номер телефона появляется подчеркивание*/
}
/*конец обратная связь*/

/*подвал*/
.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 27px;
}
.footer-social ul {
  list-style: none; /*убираем обозначанеи списка*/
}
.footer-contacts {
  text-align: center;
}
.footer-ico {
  text-align: left;
}
.footer-contacts-list {
  list-style: none; /*убираем обозначанеи списка*/
  color: var(--basic-white);
}
.footer-contacts-list a {
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*font-family: Roboto;*/
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.footer-suppliers a {
  font-weight: 700;
}
.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright a {
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*конец подвал*/
