/*константы по цветам*/
:root {
  --basic-black-text: #323232;
  --basic-green: #849D8F;
  --basic-brawn: #9D8B84;
  --basic-neutral: #8996A6;
  --basic-white: #FFFFFF;
  --basic-neutral: #5A5A5A;
  --basic-dark: #696969; /*темно-серый*/
  --basic-darl-lite: #ababab; /*светло-серый*/
  --basic-green-lite: rgba(255, 255, 255, 0.2); /*светло-зеленый в основном цвет фона кнопок*/
  --brown-lite: #D07058; /*светло-коричневый*/
  --basic-blu-lite: #8996A6;
  --basic-brown: #9D8B84;
  /*
  --basic-black: #000000;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;

  --special: #663d15;*/
}
/* Global */

body {
  /*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/ /*подключениме шрифта 2-ой вариант*/
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  /*text-transform: uppercase;*/
  background-color: var(--basic-green);
  /*background-image: url("img/bg.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%; /*займи все пространство*/
  display: grid; /*включение контекста grid*/
  grid-template-rows: min-content 1fr min-content; /*правила расположения строк*/
  align-content: start; /*начинайся сначала*/
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  padding: 16px 16px;
}
h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black-text);
  padding: 24px 20px 0px 20px;
}
span {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

fieldset {
  border: none;
}
.visually-hidden { /*скрывает не нужные заголовки*/
  /*display: none;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Контентная область центрируется и не может быть уже макетной ширины, поэтому 1146px*/
.container {
  width: 1146px;
  /*padding-left: 27px;
  padding-right: 27px;*/
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black; /*обводка*/
}

.slider{
  position: relative; /*элемент с относительным позиционированием*/
  padding-top: 275px;
  text-align: center;
  color: var(--basic-white);
}
.slider-list {
  margin: 0;
  /*padding: 0;*/
  list-style: none;
}
.slide {
  display: none;
}

.slide-current {
  display: block;
}
.slide-title {
  width: 700px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}
.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .current {
  background-color: var(--basic-white);
}
.page-body {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;
}
.page-body-1 {
  background-color: var(--basic-green);
  background-image: url("../img/ice-horns.png");
}
.page-body-2 {
  background-color: var(--basic-blu-lite);
  background-image: url("../img/ice-horns2.png");
}
.page-body-3 {
  background-color: var(--basic-brown);
  background-image: url("../img/ice-horns3.png");
}
.main-menu {
  display: flex;
  justify-content: space-between;
}

.features {
  text-align: center;
}

/*grid*/
.page {
  height: 100%;
}

/* Main navigation */
.main-navigation {
  /*display: grid; /*включаем гриды*/
  /*grid-template-columns: 2fr 1fr;*/
  /*Делаем на флексах*/
                /*display: flex;
                align-items: center; /*выравнивание по вертикали в строке флекса*/
                /*justify-content: space-between;*/
  /*padding: 0 27px;*/
  font-size: 16px;
  line-height: 18px;

  outline: 1px solid red; /*обводка*/
  outline-offset: -5px;

}

.main-navigation-wrapper {
  /*display: grid; /*включаем гриды*/
  margin: 0;
  display: flex;
  align-items: center;
  width: 850px;

  outline: 1px solid rgba(0, 255, 255, 0.3); /*обводка*/
  outline-offset: -5px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 300px;

  outline: 1px solid yellow; /*обводка*/
  outline-offset: -5px;
}


.information {
  /*Делаем на флексах*/
  margin: 0;
  padding: 0;
  /*display: flex;
  justify-content: flex-end;*/
  text-align: right;

  outline: 1px solid blue; /*обводка*/
  outline-offset: -5px;
}

.raspberries-chocolate {
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px; /*отступ до следующего блока*/
  height: 229px;
  margin-top: 41px;

}

/*меню главное*/
.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  list-style: none; /*убираем маркер списка*/
  line-height: 18px;
  margin-left: 24px; /*отступ слева от логтипа*/
}
.site-navigation li {
  position: relative; /*указывает какой тип позиционирования используется для элемента (статический, относительный, абсолютный или фиксированный)*/
  margin-right: 32px;
}
.main-header-logo { /*не совсем понял нужно или нет это прописывать в css*/
  margin: 0;
  padding: 0;
  width: 154px;
  height: 64px;
}
.site-navigation a {
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom: 1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*text-decoration-color: rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*цвет ссылки меню и ссылки входа*/
.site-navigation a,
.telephone a,
.button,
.-apply,
.hit-list a {
  color: var(--basic-white);
}

/*хлебные крошки*/
.crumbs {
  display: flex;
  flex-wrap: wrap; /*перенос на новую сроку если дошел до предела области*/
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  font-weight: 400; /*жирность шрифта*/
}
.crumbs li {
  position: relative; /*указывает какой тип позиционирования используется для элемента (статический, относительный, абсолютный или фиксированный)*/
  margin-right: 22px;
}
.crumbs a{
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*конец хлебные крошки*/

/*меню каталог с catalog.html*/
.mark a {
  background: var(--brown-lite);/* #D07058;*/
  padding: 9px 13px; /* Поля вокруг текста */
  margin: -13px;
  border-radius: 26px;
  /*color: var(--basic-white);*/
  text-decoration: none;
}

/*кнопки поиска корзины и авторизации*/
.login-link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}
.link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link {
  position: relative; /*для позиционирования иконки относительно ссылки "вход"*/
}
.login-link svg {
  margin: 10px;
}

.login-link a{
  background-color: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2);*/
  padding: 8px 16px; /* Поля вокруг текста */
  border-radius: 20px;
  color: var(--basic-white);
  text-decoration: none;
}

/*цвет меню при наведении*/
.site-navigation a:hover {
  margin: 0;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 13px; /* Поля вокруг текста */
  margin: -13px;
  border-radius: 26px;
  text-decoration: none;
}
.login-link a:hover {
  margin: 0;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 13px; /* Поля вокруг текста */
  border-radius: 20px;
  text-decoration: none;
}

.button-apply:hover{
  margin: 0;
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  padding: 9px 29px; /* Поля вокруг текста */
  border-radius: 20px;
  text-decoration: none;
}

/*цвет при нажатии*/
.button-apply:focus {
  color: var(--basic-black-text);
  background-color: var(--basic-white);
  box-shadow: 0px -3px 0px var(--basic-dark);/*rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 29px; /* Поля вокруг текста */
  border-radius: 20px;
  text-decoration: none;
}

.work {
  font-size: 14px;
  line-height: 16px;
}

.telephone {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
}
.telephone a {
  text-decoration: none;
}


.telephone a:hover{ /*при наведении на номер телефона появляется подчеркивание*/
  text-decoration: underline;
}

.banner-basis {
  font-size: 60px;
  line-height: 60px;
}

.button /*.button*/ {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%); /*градиентная заливка*/
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64); /*тень кнопки*/
  padding: 9px 23px; /* Поля вокруг текста */
  border-radius: 70px; /*скругление углов*/
  text-decoration: none;
  display: inline-block;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
}
.button:hover { /*цвет кнопки при наведении*/
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000; /*тень кнопки*/
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
}
.button:focus { /*цвет кнопки при нажатии*/
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); /*тень текста*/
}
.sorting {
  /*position: absolute;
  width: 196px;
  height: 56px;
  left: 27px;
  top: 187px;*/

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.sorting-list {
  color: var(--basic-white);
  background: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*заливка*/
  border-radius: 20px; /*скругление углов*/
  font-size: 16px;
  line-height: 18px;
  padding: 9px 23px; /* Поля вокруг текста */
  text-decoration: none;
}

.sorting-list option {
  text-decoration: none;
  color: var(--basic-black-tex);
  background: #1E90FF; /*синий цвет*/
}

/*.price {
  position: absolute;
  width: 218px;
  height: 56px;
  left: 238px;
  top: 187px;
}

.content {
  position: absolute;
  width: 425px;
  height: 56px;
  left: 471px;
  top: 187px;
}*/

.button-apply { /*кнопка применить*/
  background: var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*заливка*/
  border: 2px solid var(--basic-white); /*#FFFFFF; /*окантовка*/
  box-sizing: border-box;
  border-radius: 20px; /*скругление углов*/
  font-size: 16px;
  line-height: 18px;
  padding: 9px 29px; /* Поля вокруг текста */
  text-decoration: none;
}

.raspberries {
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  border-radius: 16px;
  background-image: url("../img/backgraund-malina.jpg"); /* no-repeat; из-за этого не выходила картинка фоном*/
}
.raspberries a { /*кнопка расположение ее на блоке*/
  display: block;
  margin-left: 368px;
  margin-right: 22px;
  margin-top: 42px;
}

.chocolate {
  width: 560px;
  min-height: 229px;
  border-radius: 16px;
  background-image: url("../img/backgraund-chocolate.jpg");
}
.chocolate a { /*кнопка расположение ее на блоке*/
  display: block;
  margin-left: 339px;
  margin-right: 22px;
  margin-top: 42px;
}

.banner {
  padding: 0;
  margin: 0;
  padding: 0px 30px 0px 16px;
  font-size: 18px;
}
/*хиты продаж*/

.hit-list {
  margin: 0;
  padding: 0;
  text-align: center; /*выравнивание текста по центру*/
  list-style: none;
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*margin-bottom: 40px;
  /*width: 267px;*/
  border: 1px solid red; /*обводка*/

}
.catalog-item { /*без этого класса не мог выранить картинку, не выстраивались гриды*/
  margin: 0;
  padding: 0;
  width: 267px; /*ширина занимаемой области товара*/
  min-height: 324px; /*мин высота если вдруг картинки не будет*/
  margin-right: 26px; /*расстояние между карточками товаров*/
  margin-bottom: 40px; /*отступ вниз между карточкамит товаров*/
}

.hit-list p {
  padding: 0;
  margin: 0;
  margin-top: -65px;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.hit-list a {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  font-weight: 500; /*полужирный текст - параметр*/
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite); /*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}

/*конец хитов продаж*/

/*качество продукции*/
.quality {
  padding: 0;
  margin: 0;

  min-height: 306px;
  background-image: url("../img/pattern2.jpg");
  border-radius: 16px;
  margin-bottom: 40px;
  /*padding: 0px 27px;*/
}
.quality-list {
  margin: 0;
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  padding-left: 23px;
  list-style: none;
  color: var(--basic-black-text);
}

.quality-item {
  width: 485px;
  margin-left: 52px;
  margin-right: 23px;
  margin-bottom: 20px; /*почему не помещается 33px????*/
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
/*конец качества продукции*/

/*новости*/

.news-mail {
  display: grid; /*включаем гриды*/
  grid-template-columns: 1fr 1fr;
  height: 220px;
  margin-bottom: 40px;
}
.news {
  background-image: url("../img/backgraund-news.jpg");
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  border-radius: 16px;
}
.news p {
  margin: 0;
  padding-left: 20px;
  padding-top: 23px;
  /*padding-bottom: 15px;*/
  font-weight: 500;
  color: var(--basic-black-text);
}
.news a {
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 20px;
  padding-right: 253px;
  /*height: 77px;*/
  /*width: 287px;*/
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black-text);
}
/*конец нововсти*/

/*отправка сообщения*/
.mail {
  background-image: url("../img/backgraund-mail.jpg");
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
}
.mail p {
  margin: 0;
  padding-left: 26px;
  padding-top: 34px;
  padding-right: 22px;
  padding-bottom: 47px;
  font-weight: 400;
  color: var(--basic-neutral);
}
.mail input {
  margin: 0;
  padding: 0;
  margin-left: 26px;
  margin-right: 7px;
  width: 350px;
  height: 44px;
  border-radius: 6px;
  border-width: 1px;
  border-style: double;
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border-color: rgba(178, 178, 178, 0.52);
}
.mail button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding: 9px 23px;
  border-width: 0;
  font-size: 18px;
  line-height: 24px;
  border-radius: 70px;
  color: var(--basic-white);
  text-decoration: none;
}
/*конец отправка сообщения*/

/*Уровень цены*/
.range-controls{
    position:relative;
    /*position: absolute;*/
    width: 218px;
    /*height: 36px;*/
    /*overflow:hidden;*/ /*обрезание что выходит за границы*/
    padding-top: 17px;
    padding-bottom: 17px;
    /*margin-bottom:15px;*/
    /*padding:0 30px;*/
    background: var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет фона*/
    border-radius:20px;

}
.scale{ /*общая шкала*/
    /*margin-top:18px; /*расстояние от верха*/
    display: flex;
    align-items: center;

    height:2px;
    background:rgba(248, 247, 244, 0.5); /*цвет общей шкалы*/
    /*border: 2px solid rgba(248, 247, 244, 0.5);*/
}
.bar{ /*шкала между бегунками*/
    height:2px;
    background: var(--basic-white); /*#F8F7F4; /*#00ca74;*/
}
.toggle{
    position:absolute;
    top:9px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background: var(--basic-darl-lite);
    cursor:pointer;
    border-radius:50%;
}
.min-toggle{ /*положение курсора левого*/
    left:30px;
}
.max-toggle{ /*положение курсора правого*/
    left:145px;
}
/*конец уровень цены*/

.content ul {
  list-style: none; /*убираем обозначанеи списка*/
}

.filler ul {
  list-style: none; /*убираем обозначанеи списка*/
}
.number-list {
  list-style: none; /*убираем обозначанеи списка*/
}

/*обратная связь*/
.contacts {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEFEFE;
  color: var(--basic-black-text);
}
.contacts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contacts-text-bold {
  font-size: 18px;
  line-height: 24px;
}
.contacts-text-bold a {
  color: var(--basic-black-text);
  text-decoration: none;
}
.contacts-text-bold a:hover {
  text-decoration: underline; /*при наведении на номер телефона появляется подчеркивание*/
}
/*конец обратная связь*/

/*подвал*/
.main-footer {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  /*делаем на флексах*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  width: 164px;
  list-style: none; /*убираем обозначанеи списка*/
}
.footer-contacts {
  padding: 0;
  margin: 0;
  width: 327px;
  text-align: center;
  outline: 1px solid red; /*обводка*/
}
.footer-ico {
  margin: 0;
  padding: 0;
  width: 190px;
  text-align: left;
}
.footer-contacts-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; /*правила расположения строк*/

  list-style: none; /*убираем обозначанеи списка*/
  color: var(--basic-white);
}
.footer-contacts-list a {
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
  /*font-family: Roboto;*/
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}
.footer-suppliers {
  text-align: left;
}
.footer-suppliers a {
  font-weight: 700;
}
.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright a {
  color: var(--basic-white);
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  border-bottom:1px solid var(--basic-green-lite);/*rgba(255, 255, 255, 0.2); /*цвет подчеркивания*/
}
/*конец подвал*/
